* {
    padding: 0px !important;
    border: 0px !important;
    margin: 0px !important;
    font-family: OpenSans-Regular;
}
/*Vareaveis*/
:root {
    /*Fundo*/
    --Bs-primaria: #CCE2DC;
    --Bs-Secundario: #FFB01C;
    --bs-terciaria: #CBD211;
    --bs-Quarta: #007fa3;
    /*Fonts*/
    --color-primaria: #0687A7;
    --color-Secundaria: #003057;
    --color-terciaria: #0687A7;
}
/*Carroeis*/
.carousel-control-next-icon {
    background-image: url(../img/icon/Carossel01.png) !important;
}
.carousel-control-prev-icon {
    background-image: url(../img/icon/Carossel02.png) !important;
}
/*Carroeis*/


.popup {
    display: none;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: relative;
    padding: 5rem !important;
}
.popup textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.close-btn {
    position: absolute;
    top: 0px;
    right: 10px;
    color: rgb(255, 0, 0);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}